<div class="modal fade" id="timedPopup" tabindex="-1" aria-labelledby="timedPopupLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header border-0">
        <h5 class="modal-title" id="timedPopupLabel">
          {{POPUP_TITLE}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="timedPopupContent">
        {{POPUP_HTML}}
      </div>

    </div>
  </div>
</div>
