<div class="modal fade" id="wishlistModal" tabindex="-1" aria-labelledby="wishlistModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wishlistModalLabel">{{TEXT_WISHLIST}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{TEXT_CLOSE}}"></button>
      </div>
      <div class="modal-body">
        <div id="wishlistContent"></div>
        <div id="wishlistEmpty" class="text-center text-muted d-none">
          {{TEXT_WISHLIST_EMPTY}}
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{TEXT_CLOSE}}
        </button>
      </div>
    </div>
  </div>
</div>
